<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JavaScript</string>
	<key>uuid</key>
	<string>32A78F34-A4F7-4403-937A-0D16E890B157</string>
</dict>
</plist>
